.input {
  outline: none;
  border: none;
  font-size: 2rem;

  &::placeholder {
    color: black;
    font-size: 2rem;
  }

  &--beige {
    height: 6.4rem;
    border-radius: 1.8rem;
    padding: 2rem;
    background-color: $light-brown;
  }

  &__container {
    & .input {
      display: block;
    }

    & label {
      display: block;
      margin-bottom: 1.6rem;
    }
  }
}
